body {
  background-color: white;
}

#container-form {
  text-align: center;
  border: 2px solid black;
  margin: 575px 50px;
  padding: 20px 60px;
  border-radius: 10px;
}

.form {
  margin: 0px 0px 10px;
}
