body {
  background-color: white;
}

#container-form {
  text-align: center;
  border: 2px solid black;
  margin: 75px 50px 0px;
  padding: 20px 60px;
  border-radius: 10px;
}

.form {
  margin: 0px 0px 10px;
}

div#container-student {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
}

div.card {
  border: 2px solid black;
  margin: 40px 0px;
  border-radius: 10px;
  width: 300px;
}

.card-body {
  padding: 20px 0px;
}

h5.card-title {
  font-size: 30px;
}

p.card-text {
  font-size: 20px;
}

.card-subtitle {
  padding: 10px;
}

a.btn.btn-primary {
  width: 125px;
}

button#startSort.btn.btn-primary {
  width: 125px;
}

a#start-sort.btn.btn-primary.btn-lg {
  width: 250px;
}
